@import '../app.component';

footer {
    height: auto;
    background-color: $clr-primary-5;
}

.footer-title {
    color: $clr-grey-10;
    margin-top: 15%;  
    font-size: map-get($font-sizes,"biggest")    
}

.footer-copyright {
    display: flex;
    justify-content: center;
    color: $clr-grey-10;
    margin: 15%;
    font-size: map-get($font-sizes,"medium")       
}

.footer-icons {
    font-size: map-get($font-sizes,"big"); 
    color: $clr-grey-10;
    margin-right: 3%;
}

.footer-icons:hover {
    color: $clr-grey-8;    
}

.footer-register {
   margin-top: 40px;
}

@media only screen and(max-width:1280px) {
    .footer-title {
        font-size: map-get($font-sizes, "medium")
    }    
}

@media only screen and (max-width:540px) {
    footer {
        height: 50vh;   
    }
}
    