<footer class="container-fluid" [ngClass]="{
    'footer-register': nameOfComponent === 'RegisterComponent',
    'footer-profile': nameOfComponent === 'ProfileComponent',
    'footer-scedule-radiology-order': nameOfComponent === 'ScheduleRadiologyOrderComponent',
    'footer-schedule-radiologist': nameOfComponent === 'ScheduleRadiologistComponent',
    'footer-radiologist-appointments': nameOfComponent === 'RadiologistAppointmentsComponent' 
  }">
    <div class="row">
        <div class="col-sm-4">
            <p class="footer-title">Περιφερειακό Γενικό Νοσοκομείο</p>
        </div>
        <div class="col-sm-4">
            <p class="footer-copyright">&copy; Copyright {{year}}</p>
        </div>
        <div class="col-sm-4 mt-5 d-flex justify-content-center">
            <a class="footer-icons" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a class="footer-icons" href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
            <a class="footer-icons" href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
</footer>