@import '../app.component';

footer {
    height: 20vh;
    background-color: $clr-primary-5;
}

.footer-title {
    color: $clr-grey-10;
    margin-top: 15%;  
    font-size: map-get($font-sizes,"biggest")    
}

.footer-copyright {
    display: flex;
    justify-content: center;
    color: $clr-grey-10;
    margin: 15%;
    font-size: map-get($font-sizes,"medium")       
}

.footer-icons {
    font-size: map-get($font-sizes,"big"); 
    color: $clr-grey-10;
    margin-right: 3%;
}

.footer-icons:hover {
    color: $clr-grey-8;    
}

