@import '../app.component';
.bg-navbar {
    background-color: $clr-primary-5;
    height: 16vh;
}
.navbar-brand {
    color: $clr-grey-10;  
    font-size: map-get($font-sizes,"biggest");  
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand:hover {
    color: $clr-grey-9;
}