@import '../app.component';
.bg-navbar {
    background-color: $clr-primary-5;
    height: 16vh;
}
.navbar-brand {
    color: $clr-grey-10;  
    font-size: map-get($font-sizes,"biggest");  
    margin-left: 2%;
}

.logout-choice {
    color: $clr-grey-10;  
    font-size: map-get($font-sizes,"medium");  
    text-decoration: none;
    position: absolute;
    right: 50px;
}

.logout-choice:hover,
.navbar-brand:hover {
    color: $clr-grey-9;
}

.logout-choice:hover {
    cursor: pointer;    
}
